.container1 {
    text-align: center;
    border-bottom: 2px solid black;
}

.container2 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    height: 200px;
}

.container3 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    height: 200px;
}

.container4 {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    height: 200px;
}

.items {
    width: 33%;
    text-align: center;
}

#yellow-hard-hat {
    width: 75%;
    height: 75%;
    margin-top: 5%;
}

.item-description {
    width: 33%;
    padding-left: 2%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

ul {
    padding-left: 20px;
}

.stock {
    width: 33%;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}